<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ma6ic -->
      <package
            uri="http://ma6ic/1.0"
            class="ma6icmodel.Ma6icmodelPackage"
            genModel="model/ma6ic.genmodel"/>
   </extension>

</plugin>
